extends ../base.pug

block variables
	- var template = 'item'

block content
	.item
		.item_wrapper
			figure.item__media
				img.item__media__image(alt=product.data.image.alt src=product.data.image.url)

			.item__information
				p.item__information__collection=product.data.collection.data.title

			h1.item__information__title=product.data.title

			.item__information__content
				.item__information__highlights
					each highlight in product.data.highlights
						p.item__information__highlight
							svg.item__information__highlight__icon
								use(xlink:href=`sprite-${highlight.highlights_icon.toLowerCase()}`)

							span.item__information__highlight__text=highlight.highlights_text

				.item__information__list
					each information in product.data.informations
						p.item__information__item
							strong.item__information__item__title=information.informations_label
							span.item__information__item__description=information.informations_description

				a.item__information__link(href=product.data.link_url.url target="_blank")=product.data.link_text
